

* {
  background: lightgreen;
  background-size: cover;

box-sizing: border-box;

}
h2{
  text-align: center;
}


input[type=text], select, textarea {

width: 100%;

padding: 12px;

border: 1px solid rgb(70, 68, 68);

border-radius: 4px;

resize: vertical;

}

input[type=email], select, textarea {

width: 100%;

padding: 12px;

border: 1px solid rgb(70, 68, 68);

border-radius: 4px;

resize: vertical;

}



label {

padding: 12px 12px 12px 0;

display: inline-block;

}



button{

background-color: red;

color: black;

padding: 12px 20px;

border: none;

border-radius: 4px;

cursor: pointer;

float: right;
font-size:15px;

}



button:hover {

background-color: #45a049;

}



.container {

border-radius: 5px;

background-color: #f2f2f;

padding: 20px;

}



.col-25 {

float: left;

width: 25%;

margin-top: 6px;

}



.col-75 {

float: left;

width: 75%;

margin-top: 6px;

}



/* Clear floats after the columns */

.row:after {

content: "";

display: table;

clear: both;

}
